[2020-12-09 22:47] K0-RR opened #2 "Compat with Tiered mod."
Can You add support for [Tiered](https://www.curseforge.com/minecraft/mc-mods/tiered) mod? Mod [GitHub](https://github.com/Draylar/tiered).
This mod gives tools, armor, and weapons random qualities when they enter your inventory, inspired by Terraria tools. All the qualities, as well as the tools that can get them, are completely configurable.
![image](https://user-images.githubusercontent.com/432

[2020-12-10 00:09] kwpugh commented on #2
added in latest version.

[2020-12-10 00:09] #2 closed, assigned to kwpugh

[2020-12-10 14:48] K0-RR opened #3 "[1.17.x] [Suggestion] Add crossbow variants like for bows for materials like emeralds etc."

[2021-02-06 01:48] Panduino opened #4 "Conflict with ores from other mods"
In a server, if you change anything in the config file (in my example basic nether ores and enderite), those ores simply stop dropping items. Deleting the config file and not editing it when it comes back fixes this, but is an issue when I want to disable the special tools. Using version 1.1.1

[2021-02-06 01:54] kwpugh commented on #4
I'm confused.   When you disable emerald special tools you can't break which ores using which tools?

[2021-02-06 02:05] kwpugh commented on #4
I just tried v1.1.1.    Disabled all the special tools in the config and went add broke iron and gold ores with emerald and ruby pickaxes just fine.

[2021-02-06 02:08] kwpugh commented on #4
nether ores and enderite breaking may be a problem of mining level, not familiar with those mods

[2021-02-06 03:25] kwpugh commented on #4
Ok, I see what it is doing, and I know how to fix it.

[2021-02-06 03:32] kwpugh commented on #4
Fixed in v1.1.2

[2021-02-06 03:37] #4 closed, assigned to kwpugh

[2021-04-16 02:39] death-frog opened #5 "[Bug] Steel shovel crafting recipe doesn't work."
The crafting recipe for the steel shovel is bugged, as there is no way to craft it.
Version 1.2.6
![Steel Shovel Bug](https://user-images.githubusercontent.com/82627223/114963785-7a79e500-9e3b-11eb-8070-77ddcc492961.png)

[2021-04-16 02:41] death-frog commented on #5
Version 1.2.6

[2021-04-16 02:52] kwpugh commented on #5
Yeah, I messed that one up.   I will fix in 1.2.7

![Screen Shot 2021-04-15 at 9 51 32 PM](https://user-images.githubusercontent.com/8809210/114964694-d5f4a480-9e34-11eb-8072-2fb6f57a1302.png)

[2021-04-16 03:11] death-frog opened #6 "[Suggestion] Add vanilla variants of the new tools, such as the paxel."

[2021-04-16 03:12] kwpugh commented on #6
Sorry, not something I plan to do.

[2021-04-16 03:12] #6 closed, assigned to nobody

[2021-04-16 03:20] kwpugh commented on #5
Fixed in 1.2.7.

[2021-04-16 03:20] #5 closed, assigned to nobody

[2021-06-10 00:00] Jayjoe4 opened #7 "Minecraft 1.17 can't open"
Hi, I'm trying to play mc on 1.17 fabric and get this error message.

The game crashed whilst initializing game
Error: java.lang.RuntimeException: Could not execute entrypoint stage 'main' due to errors, provided by 'emerald_tools'!
Exit Code: -1

[2021-06-10 02:19] kwpugh commented on #7
Did you update your launcher to use Java 16?

[2021-06-13 00:11] kwpugh commented on #7
No response and cannot duplicate.

[2021-06-13 00:11] #7 closed, assigned to nobody

[2021-06-14 00:39] SampledText opened #8 "Crashes on startup, details inside."
![image](https://user-images.githubusercontent.com/67172392/121826690-bb954680-cc7e-11eb-8886-5ee45bb696c7.png)
Crashes before starting up
version is for 1.17 fabric for client-side use

full crash report below:

---- Minecraft Crash Report ----
// This doesn't make any sense!

Time: 6/13/21, 7:37 PM
Description: Initializing game

java.lang.RuntimeException: Could not execute entrypoint stage 'ma

[2021-06-14 00:47] kwpugh commented on #8
Do you have Cloth Config API installed, it is required.

[2021-06-14 00:50] SampledText commented on #8
![image](https://user-images.githubusercontent.com/67172392/121827106-825dd600-cc80-11eb-87d8-351bbcdfd1ac.png)
I have this, is that what you mean, or do I need an additional file?

[2021-06-14 00:50] SampledText commented on #8
ohmigosh, i'm an idiot, i found what you're talking about, installing now

[2021-06-14 00:52] kwpugh commented on #8
https://www.curseforge.com/minecraft/mc-mods/cloth-config

[2021-06-14 00:52] SampledText commented on #8
![image](https://user-images.githubusercontent.com/67172392/121827208-c3ee8100-cc80-11eb-9827-5aab20aa52f7.png)
installed the file in question and it launches and plays like normal. thank you!
but... some installation instructions may be good to have for future reference :T

[2021-06-14 00:52] #8 closed, assigned to nobody

[2021-06-14 00:54] kwpugh commented on #8
![Screen Shot 2021-06-13 at 7 53 36 PM](https://user-images.githubusercontent.com/8809210/121827294-1c258300-cc81-11eb-8a5c-096d92957b53.png)

You should get in the habit of checking dependences when you download.

[2021-06-14 00:57] SampledText commented on #8
yeah, you're right, i had no idea that tab existed! i apologize :x you have a good one!

[2021-06-14 00:59] kwpugh commented on #8
Enjoy the mod

[2021-06-14 01:32] kwpugh commented on #8
By the way a new version is up that fixes a problem with the Excavators.

[2021-07-08 15:57] Ducri opened #9 "[1.17.1] Hammer & Excavator Durability"
Hi,

Just to query as to if the Hammer and Excavator's durability is bugged or intentionally made so that they do not really break.
I have started "Better Minecraft by "SharkieFPS" on Curseforge and have tried your latest Fabric version of the mod is well and both of these do not appear to directly affect the durability of the tools when in use. The Hammer only appears to have some durability remo

[2021-07-08 16:01] kwpugh commented on #9
Which version of the mod are you using?

[2021-07-08 16:04] Ducri commented on #9
Currently. "EmeraldTools-Fabric-1.17-1.2.18"

[2021-07-08 16:05] kwpugh commented on #9
There was some issue in v18.   Please v19.

[2021-07-08 16:11] Ducri commented on #9
Just did, that has made no difference, unfortunately.

[2021-07-08 16:57] kwpugh commented on #9
Hmmm, I have been playing and using the hammers and excavators and they do indeed take damage.   Perhaps there is some in the mudpack that is interfering.   I will take a look at the latest modpack and see if I notice it.

[2021-07-08 18:16] kwpugh commented on #9
I cannot replicate this on my end, all the hammers and excavators take 1 point of damage with each use.   Did you install any other mods to the standard Better Minecraft pack?

[2021-07-08 20:26] Ducri commented on #9
I havent used any external mods, to note I am playing on Better Minecraft [FABRIC RELEASE] V1. This problem also occurs on other versions of the pack for Fabric. I have uninstalled and reinstalled the pack as a whole twice as well in testing and this is still occurring. It may be an issue on my end but I havent done anything to provoke it, no modification of the game or its files. Always played on

[2021-07-08 20:29] kwpugh commented on #9
I don't think it is on your end.  I installed a copy of latest Better Minecraft and the hammers and excavators do not take damage.  Changed to a more recent version of Emerald Tools and still no damage.   Using Emerald Tools in other packs and stand alone and they take damage.  There is something in the Better Minecraft that is causing it.

Still looking.

[2021-07-08 20:36] Ducri commented on #9
Thanks, glad to hear that you've managed to replicate it. So odd it is happening. Glad I brought it to your attention

[2021-07-08 21:34] kwpugh commented on #9
I have reached out to Sparkle to see what they think.  Will update if I find anything new.

[2021-07-09 02:41] kwpugh commented on #9
So, Sparkie figured it out with some trial and error.Turns out it is the Slab Helper mod.  It does a mixin that is messing with the hammer and excavator.  Surprised me, but after looking at the source I see where the issue is.   Sparkie is handling it from here, so I am closing this out.

[2021-07-09 02:41] #9 closed, assigned to kwpugh

[2021-07-22 02:27] ruvaldak opened #10 "[1.17.x] [Bug] Causes a lot of issues when disabling things in the config."
Seems to break fabric's tool lists when disabling things in the configs, and also seems to throw a bunch of errors about parsing.

[errors.log](https://github.com/kwpugh/EmeraldTools/files/6859645/errors.log)

It seems that disabling things in the config actually removing the tools causes a whole bunch of problems that can cause several mods to break, such as causing FallingTree to no longer detec

[2021-07-22 02:31] kwpugh commented on #10
Can you post a link to your current config for Emerald Tools please.

There is nothing I can do about the error messages when items are disabled, and they are harmless.  Its just letting you know things are missing.

Disabling items shouldn't do any harm to other mods though.  I need to look into that.

[2021-07-22 02:42] ruvaldak commented on #10
Just double checked and indeed, re-enabling the tools I disabled fixed FallingTrees and allows trees to be chopped again. Disabling them prevents FallingTrees from working at all, even with fully vanilla tools such as an iron axe.

`{
	/*

	   ******************************
	   EXTRA TOOLS
	   Paxels, Hammers,
	   Excavators, & TreeAxes
	   ******************************
	*/
	"enableHammers": fals

[2021-07-22 02:50] kwpugh commented on #10
[EmeraldTools-Fabric-1.17.1-1.2.22.jar.zip](https://github.com/kwpugh/EmeraldTools/files/6859746/EmeraldTools-Fabric-1.17.1-1.2.22.jar.zip)

Can you try this build to confirm works with FallingTrees mod?

[2021-07-22 02:53] ruvaldak commented on #10
Works now.

[2021-07-22 02:56] kwpugh commented on #10
Good.

So I can't do anything about all the warning messages about missing recipes for items that are disabled.  I will ask around, but I think it is just the way of things.

Were there any others mods that were affected by this?

[2021-07-22 02:58] kwpugh commented on #10
All those warnings are because the game is still reading through all the JSON model and recipes files and reporting back that the referenced items are not registered in the game.

What broke FallingTree was the fact that my JSOn that added my axes (including the disabled ruby axe) were not set to required=false.  Once I changed that, things were fine.   Minecraft has a habit of reading its JSON fo

[2021-07-22 03:11] ruvaldak commented on #10
I haven't found anything else that had issues, but if I run across anything, I will post here. Might be worth double checking to make sure other tools are set to required=false, as well, just to avoid any possible issues down the line.

[2021-07-22 11:14] kwpugh commented on #10
I set them for all of the tool types in the mod.

[2021-07-22 11:14] #10 closed, assigned to kwpugh

[2021-07-25 19:16] ruvaldak opened #11 "[1.17.1] [Crash] Disabling steel tools prevents loading old worlds"
Disabling steel tools prevents loading worlds that were created with steel tools enabled. This doesn't effect any other tool type that I know of, but might be worth investigating. The crash is as follows:

[code]

[2021-07-26 21:47] kwpugh commented on #11
fixed in. latest update.

[2021-07-27 11:56] ruvaldak commented on #11
This still occurs on version 1.2.24 from Curseforge.

[code]

[2021-07-27 11:58] kwpugh commented on #11
hmmm, I tested this on my server and it was fine.  Odd.

[2021-07-27 12:09] kwpugh commented on #11
can you post a link to the entire crash report?

[2021-07-27 12:14] ruvaldak commented on #11
Just did some testing, and can confirm, this only happens when disabling Steel set and attempting to load a world that had them enabled. Every other set loads fine. MC doesn't crash, it just complains about the datapack being corrupted or whatever and refuses to load the world.

[latest.log](https://github.com/kwpugh/EmeraldTools/files/6885237/latest.log)

![image](https://user-images.githubuserco

[2021-07-27 12:20] kwpugh commented on #11
[EmeraldTools-Fabric-1.17.1-1.2.25.jar.zip](https://github.com/kwpugh/EmeraldTools/files/6885289/EmeraldTools-Fabric-1.17.1-1.2.25.jar.zip)

Try this version real quick and see if it works.

[2021-07-27 12:26] ruvaldak commented on #11
Still occurs.

[2021-07-27 12:27] ruvaldak commented on #11
[general.json5.zip](https://github.com/kwpugh/EmeraldTools/files/6885341/general.json5.zip)

This is my config.

[2021-07-27 12:44] kwpugh commented on #11
so is the same config settings the same on client and server?

[2021-07-27 12:52] kwpugh commented on #11
[EmeraldTools-Fabric-1.17.1-1.2.25.jar.zip](https://github.com/kwpugh/EmeraldTools/files/6885547/EmeraldTools-Fabric-1.17.1-1.2.25.jar.zip)

another change, try this one.

[2021-07-27 13:02] kwpugh commented on #11
Please post a link to your:
- launcher log
- server system log

I'm having trouble narrowing this down without seeing the full story

[2021-07-27 13:07] ruvaldak commented on #11
This jar worked fine, loaded the world without issue.

This is all on an SSP world so yes.

[2021-07-27 13:08] ruvaldak commented on #11
[code]

This was in the logs when loading. The world loaded without crashing, no issues visible.

[2021-07-27 13:11] kwpugh commented on #11
Good.  I was guessing it was an invalid forge tag that was still in there.

Fabric has no way to surprise the invalid recipes warnings when items are disabled.  They should not cause any issues though.

[2021-07-27 13:13] #11 closed, assigned to kwpugh

[2021-08-01 15:58] kwpugh commented on #3
No plans for crossbows in this mod.

[2021-08-01 15:58] #3 closed, assigned to kwpugh

[2021-09-27 14:14] urolithicrogue opened #12 "[1.17.1] more gems and easy emerald tools ruby paxel problem"
i have both mods installed but i am unable to make ruby paxels because one tool comes from more gems while the others come from your easy emerald tools mod. i didn't see an option to enable compatibility between the two mods. not sure if this is a problem with any of the other tools

yes this is on a server, i was not sure which mod to post this under since it is related to both mods and you are t

[2021-09-27 14:32] kwpugh commented on #12
the recipes are different.   they use axe, pickaxe, shovel from their own mods.  Check to make sure you aren't mixing items in the recipe.   I just checked and they are both able to be able to be made.

[2021-09-27 14:32] kwpugh commented on #12
they are not compatible with each other.

[2021-09-27 14:33] kwpugh commented on #12
If you are having trouble making specific recipes when there are dups, you need to use:  https://www.curseforge.com/minecraft/mc-mods/polymorph-fabric

[2021-09-27 14:41] kwpugh commented on #12
![Screen Shot 2021-09-27 at 9 38 23 AM](https://user-images.githubusercontent.com/8809210/134930370-2d3f1f68-fdf5-4fa2-9c35-d2e8f545c1df.png)

[2021-09-29 11:58] kwpugh commented on #12
should be addressed by recipe conflict mod as show above.

[2021-09-29 11:58] #12 closed, assigned to kwpugh

[2021-11-19 22:02] Angular-Angel opened #13 "Crash when launching fabric server"
I made a little modpack for pre-release 5, and it works fine for the client, but not for the server:

[code]

[2021-11-19 22:16] Angular-Angel commented on #13
Apparently this is from: https://discord.com/channels/507304429255393322/535180192960872458/910360386442760254

[2021-11-19 22:36] kwpugh commented on #13
yeah, the mod is not updated to pre5 yet.

[2021-11-20 02:52] kwpugh commented on #13
should be fixed with latest release

[2021-11-20 17:59] kwpugh commented on #13
If you have any more issues, let me know.

[2021-11-20 17:59] #13 closed, assigned to kwpugh

[2022-01-12 14:50] H7LYX opened #15 "[1.18.1] Two sticks > Ruby Hammer"
You can craft a Ruby Hammer when putting two sticks underneath each other in a crafting table, I have no idea why, I have disabled the Ruby's in the server config.

Config:
[code]

We're on a Fabric 1.18.1 server by the way

[2022-01-12 15:25] kwpugh commented on #15
Are you using the latest: EmeraldTools-Fabric-1.18.1-1.3.34.jar ?

I thought I fixed this one already.

[2022-01-12 15:39] H7LYX commented on #15
Ah, it seems like you have, you must have updated the mod recently, well done

[2022-01-12 15:51] kwpugh commented on #15
Let me know if you still get the 2 stick hammer with the latest release, I don't.

[2022-01-12 20:49] kwpugh commented on #15
Closing, this is fixed in recent updates.

[2022-01-12 20:49] #15 closed, assigned to kwpugh

[2022-03-10 15:59] kingstairs opened #16 "[1.18.2] Copper shears don't shear"
MC 1.18.2, ET 1.3.38, Fabric
New game. Made some copper shears, and they don't shear sheep. Soon afterward made _iron_ shears, and they _did_ shear sheep.
Totally game-ruining! ;-)

Didn't see any errors or messages in the log.
I'm guessing the shears are simply missing a property/tag for shearing.
I am using other mods (will provide full list if needed), but I don't think any of the others affect

[2022-03-10 17:39] kwpugh commented on #16
Yeah, those are broken, I thought I had disabled them.  Sorry about that.

[2022-03-13 18:23] louisdoran1234 opened #17 "[1.18.2] can't craft emerald tools"
I'm on version 1.3.37 of emerald tools and version 0.13.3 on fabric
for some reason I can't craft the emerald tools and there are no recipes for them that show up

[2022-03-13 18:32] kwpugh commented on #17
please post a copy of your latest.log from the /logs folder.

[2022-03-13 18:38] kwpugh commented on #17
Are you using REI for the recipes?  If so, which version of REI are you using?

[2022-03-13 18:38] louisdoran1234 commented on #17
[latest.log](https://github.com/kwpugh/EmeraldTools/files/8240383/latest.log)
this is a modpack btw

[2022-03-13 18:44] kwpugh commented on #17
Can you post a copy of the emerald tools config file from the modpack?

[2022-03-13 18:45] louisdoran1234 commented on #17
where would I find that

[2022-03-13 18:47] louisdoran1234 commented on #17
[general.zip](https://github.com/kwpugh/EmeraldTools/files/8240394/general.zip)

[2022-03-13 18:51] kwpugh commented on #17
Not sure what that is, but cannot open it.  Config is here.
![Screen Shot 2022-03-13 at 1 50 19 PM](https://user-images.githubusercontent.com/8809210/158074649-1988e8ed-2d5e-4da4-bd91-799230fdb5a1.png)

tried REI and Emerald Tools on 1.18.1

![Screen Shot 2022-03-13 at 1 48 39 PM](https://user-images.githubusercontent.com/8809210/158074658-7d71a19a-7c56-441d-b2b4-d142fd921bb8.png)

[2022-03-13 18:52] louisdoran1234 commented on #17
I can't upload a json file

[2022-03-13 18:54] kwpugh commented on #17
zip it

[2022-03-13 18:54] kwpugh commented on #17
or post it to gist.

https://gist.github.com

[2022-03-13 18:57] kwpugh commented on #17
I'm not seeing any error in the latest.log, so nothing there.

Did you build the modpack?

[2022-03-13 18:57] louisdoran1234 commented on #17
no i found it on forge, also the file keeps corrupting, you got discord?

[2022-03-13 18:58] kwpugh commented on #17
https://discord.gg/6B3wJQQa

[2022-03-13 19:01] kwpugh commented on #17
I don't do new friends with all the scams these days.

you can come to my support Discord.

[2022-03-13 19:02] louisdoran1234 commented on #17
i put it in fabric mod help

[2022-03-14 14:51] #17 closed, assigned to kwpugh

[2022-03-14 14:52] kwpugh commented on #16
I'm removing the shears  from the mod, more trouble than it is worth.

[2022-03-14 14:52] #16 closed, assigned to kwpugh

[2022-03-16 17:46] mpustovoi opened #18 "[1.18.2] Armor knockback resistance values"
Hello.
I've noticed that both the default and custom knockback resistance values from the config aren't showing up in the game, as it should be like with netherite armor. I tried to change, for example, from 0.1 to 1, but nothing.
I'm using latest version 1.3.39
I tried to attach a screenshot with the default knockback resistance and custom armor hardness values in config.
![Screenshot 2022-03-16

[2022-03-16 17:56] mpustovoi opened #19 "[1.18.2] Suggestion for the possibility of changing armor values"
Hi again.
When I switched from Forge to Fabric, I found that the Fabric version of your mod lacked the ability to change how many armor points helmets, breastplates, greaves, and boots add.
Although your "Gobber" mod on Fabric has the ability to change armor stats. It would be nice to have such an opportunity here if it's possible.
I apologize if the translation is sloppy.
I'm using latest version

[2022-03-16 18:12] mpustovoi opened #20 "[1.18.2] Ruby-Steel Sword stats"
With different values in the config, the damage and durability indicators of the Ruby-Steel Sword are similar to the regular Ruby Sword.
I'm using latest version 1.3.39
![Screenshot 2022-03-16 210213](https://user-images.githubusercontent.com/92390626/158658740-1a279c38-0aeb-4531-a81b-96bc3e9b1bda.png)
Values in the config at the moment:
![Screenshot 2022-03-16 210406](https://user-images.githubus

[2022-03-16 21:25] kwpugh commented on #18
<img width="749" alt="Screen Shot 2022-03-16 at 4 19 04 PM" src="https://user-images.githubusercontent.com/8809210/158693475-070ab039-c37d-410a-b078-c073ff7237f1.png">

Will  be fixed up in the next update.

[2022-03-16 21:28] kwpugh commented on #20
Ruby-Steel simply  adds the unbreakable tag, same stats.

Oh, the stats, yeah, let me look at that.

[2022-03-16 21:49] kwpugh commented on #20
I found the  issue, will be fixed  in next release.

[2022-03-16 22:01] kwpugh commented on #19
I will add  this to the next release.

[2022-03-16 22:28] #19 closed, assigned to kwpugh

[2022-03-16 22:29] #20 closed, assigned to kwpugh

[2022-03-16 22:29] #18 closed, assigned to kwpugh

[2022-03-18 16:32] chance633 opened #21 "[1.18.1] Using Hammer on incorrect block type kicks user from server"
Server is Fabric with loader 0.13.3
MC version 1.18.1
Emerald Tools - Fabric - 1.18.1-1.3.37

Issue does not generate any messages in server log file, kicks user and MC process closes. User are loading via technic launcher

Breaking any non-stone block (E.I. Grass, Sand, etc.) will cause the issue to appear.

Log attached. All users experience this issue, logs show user ALargeMealworm experiencing

[2022-03-18 16:35] kwpugh commented on #21
Which version of Mod  and Forge?    Need a system/crash log to do anything with this

[2022-03-18 16:44] kwpugh commented on #21
Try without  Better  Nether.

[2022-03-18 16:48] kwpugh commented on #21
I put a fix into the 1.18.2 version to get around the Better Nether issue.

[2022-03-18 17:10] kwpugh commented on #21
Easy Emerald is supported for 1.16.5 and 1.18.2.   1.18.1 is out-of-date.

[2022-03-20 10:40] kwpugh commented on #21
There  is a  fixed version for 1.18.1 now.  https://www.curseforge.com/minecraft/mc-mods/simple-emerald-tools-fabric/files/3701840

[2022-03-20 10:40] #21 closed, assigned to kwpugh

[2022-03-28 14:22] Foxaelys opened #22 "[1.18.1] Failed to start the minecraft server"
Hello!

I've got this error when starting my server with only EmeraldTools mod (with fabric API and cloth config API). And I don't understand why :/

[code]

[2022-03-28 14:41] kwpugh commented on #22
Which version are you running.  Please post full crash report, not just part.

[2022-03-28 14:43] kwpugh commented on #22
might want to update to fabric loader 0.13.3

[2022-03-30 13:09] #22 closed, assigned to kwpugh

[2022-05-07 03:03] noelforte opened #23 "[1.18.2] Copper tools able to mine obsidian"
It seems like copper tools are able to break obsidian blocks, is this a bug? Since copper is less durable than iron and iron tools can't mine obsidian (if you break obsidian with iron it drops nothing), it seems to not make sense that obsidian is more readily available if you have copper tools than it would otherwise be if you were only able to acquire it when using either obsidian, ruby, emerald,

[2022-05-07 03:05] kwpugh commented on #23
Copper should not break obsidian.  Which version of the mod are you using.

[2022-05-07 04:13] noelforte commented on #23
EmeraldTools-Fabric-1.18.2-1.3.43.jar, running on a server using 1.18.2, same version mirrored on server and client

[2022-05-07 13:37] kwpugh commented on #23
ok, must be something more going on here.  I tried on single player and on my server.  copper pickaxe could not break obsidian or crying obsidian.  Copper excavator and hammer could not break adjacent obsidian either.

Can you explain more details about what you are seeing when it occurs?

[2022-05-07 14:43] kwpugh commented on #23
Oh, I see.  if you beat on the obsidian until it breaks it drops the block, which it should not.

[2022-05-07 14:54] kwpugh commented on #23
Ok, the problem is that I some how set the default mining level of the copper tool material to 3 (diamond) instead of 2 (iron).

I will fix the default in next update, but you can change on your side in the config:

	"copperMiningLevel": 2

Please confirm that fixes it for you.

[2022-05-07 14:56] kwpugh commented on #23
Same with steel tool material:

	"steelMiningLevel": 2,

[2022-05-07 23:18] noelforte commented on #23
Updated the config, that doesn't appear to change the behavior

[2022-05-08 02:17] kwpugh commented on #23
Both configs?

Client and Server.

[2022-05-08 03:02] noelforte commented on #23
Yep, with client and server configurations changed I'm still able to get obsidian blocks with copper tools. Is it by design that the client and server can run with different settings? Because if so, that seems like an issue in itself if players can override the server config by editing their client config.

[2022-05-08 03:05] kwpugh commented on #23
usually no.  The mining level is set by the server config.  I get no obsidian drops with the copper pickaxe, hammer, or paxel.  Did you restart the server after the config change or just a reload?

[2022-05-08 03:06] kwpugh commented on #23
Also, what other mods are you running on the server?

[2022-05-08 03:30] noelforte commented on #23
Ok I think we're getting somewhere. Just tested with the Paxel and Pickaxe and can confirm, setting copper `"copperMiningLevel": 2" achieves intended behavior, however the hammer continues to be able to generate obsidian drops. I've been playing on survival, are those stats cached on a per-item basis or are they applied globally?

Mod list is as follows:

[code]

[2022-05-08 03:37] kwpugh commented on #23
I don't understand what you are asking:  "are those stats cached on a per-item basis or are they applied globally?"

[2022-05-08 03:41] noelforte commented on #23
What I meant by that was "if I were to acquire a different copper hammer would that hammer have the lower mining level than the one that I already had" in other words, are the stats cached for each individual item? I answered my question though because even with destroying and creating a new instance of a copper hammer, the copper hammer is able to get obsidian drops.

As I said above, I've tested

[2022-05-08 03:49] kwpugh commented on #23
oh, I see.  So, no, material values are loaded at startup and applied to ALL items of that material, no matter what they were before.

NOTE:  I have covid 19 and my brain is a bit foggy as a result.

I thought I tested the the hammer, but I didn't.  I just tested the hammer and it breaks obsidian with drops.  I looked into my code and I can see why.  I do a manual check to see if the block state i

[2022-05-08 04:00] noelforte commented on #23
Aw damn, sorry about that! Wishing you a speedy recovery. All good, noticed this was an issue and wanted to confirm it as such. Thanks again for helping me diagnose!

[2022-06-02 13:27] ardissaps opened #24 "[Feature Request] Special Tool with (Wood, Stone, Iron, Diamon, Netherite)"
Would be great if we can have missing tool from your special tool (Excavator, Hammer, Paxel, Bow, Tree Axe) with crafted material like Vanilla tool (stone, iro, diamond, netherite). Example all your tool are many but no Stone Bow, Iron Bow, Diamond Bow, Netherite Bow  and other special tool etc.
Thx in advance for making this great mod! Have a nice day!

[2022-06-02 13:38] ardissaps opened #25 "[BUG] Bow charging Camera Zoom animation missing"
Vanilla bow zoom in while holding right click but the mod from Emerald tools does not.

[2022-06-02 14:41] kwpugh commented on #24
I felt like there are enough choices for bows, so I was not going to add them.

[2022-06-02 14:41] #24 closed, assigned to kwpugh

[2022-06-10 12:23] Gamerbolts opened #26 "io.netty.handler.codec.DecoderException: The received encoded string buffer length is less than zero! Weird string!"
Hello! I am experiencing an issue and it only happens when I have Emerald Tools/Cloth Config API, Create and Spice of Fabric installed.

Fabric 1.18.2 - 0.14.7

EmeraldTools v1.3.43
Cloth Config v6.2.62
Create v0.4.1+601
Spice of Fabric v1.5.2
Fabric API v0.55.1

[latest.log](https://github.com/kwpugh/EmeraldTools/files/8878722/latest.log)

When I go to create the world it loads to 100% and then g

[2022-06-10 13:34] kwpugh commented on #26
it is a conflict with nbtcrafting mod.  Spice of Fabric uses it as an embedded lib.  eliminate emerald tools or spice pf fabric.

[2022-06-10 13:45] Gamerbolts commented on #26
OK will do. I did post this on spice of fabric's github too so maybe they'll be able to fix.

[2022-06-16 14:22] aznshents opened #27 "Fortune/Silk Touch doesn't seem to work on Hammers"
Using Ruby Hammer with Fortune 3 and a different one with Silk Touch, it does not seem that either enchantment works while using them.

[2022-06-16 14:24] #27 closed, assigned to nobody

[2022-06-16 16:15] lospejos opened #28 "[1.19] Emerald Tools mod Axe does not have an "axe" tag?"
I'm not sure if this is an `Emerald Tools` issue and I'm not an expert in Minecraft mods, so sorry if I'm wrong.

I have `Emerald Tools` mod (`EmeraldTools-Fabric-1.19.0-1.4.13`), also I have `Falling Tree` mod (`FallingTree-1.19-3.6.1`) installed both together.
When I chop trees using stone axe from vanilla Minecraft, trees are falling as expected.
When I chop trees using `Copper Axe` from Emeral

[2022-06-16 17:18] kwpugh commented on #28
The fabric "standard is "axes", tags like items should be plural.

<img width="424" alt="Screen Shot 2022-06-16 at 12 17 44 PM" src="https://user-images.githubusercontent.com/8809210/174129328-cfd7b5cf-d6ad-429d-8730-3054226763ed.png">

My axes are already listed.

In fact, if they are not in  the list, they won't work as axes in Fabric.

[2022-06-16 18:11] kwpugh commented on #28
It looks like the Harvester code simply checks if it is an AxeItem, which mine are.  Something else may be going on.

![Screen Shot 2022-06-16 at 1 00 22 PM](https://user-images.githubusercontent.com/8809210/174137593-ab7ab0e1-2814-4212-916d-51b11fc28a1c.png)

[2022-06-16 18:12] lospejos commented on #28
BTW I checked axes from `More Gems` mod (I assume it's also is your mod just like `Emerald Tools`), f.e. `Sapphire Axe`, and these axes work as expected with `Falling Tree` mod.

[2022-06-16 18:20] kwpugh commented on #28
I fired up the mod and looked at its config, it automatically picked up all of my axes.

![Screen Shot 2022-06-16 at 1 18 47 PM](https://user-images.githubusercontent.com/8809210/174139002-e78bd594-6e43-4686-9804-7f677072a272.png)

What does your file look like?

[2022-06-16 18:55] lospejos commented on #28
Didn't get what exactly file and in which mod should I check? Could you please specify exact mod name and file name which I should check? Thanks

[2022-06-16 18:58] kwpugh commented on #28
in the folder where you minecraft instance is installed.

![Screen Shot 2022-06-16 at 1 57 09 PM](https://user-images.githubusercontent.com/8809210/174144996-ceb722a9-b7bc-4f92-810d-dccc27708c96.png)

BTW: with my basic setup, all of the axes work fine at harvesting

[2022-06-16 19:04] lospejos commented on #28
OK, may be there is some misunderstanding:
I use mod `FallingTree` (see https://www.curseforge.com/minecraft/mc-mods/falling-tree) to chop whole trees, and you (I suppose) do mention `Tree Harvester` mod (https://www.curseforge.com/minecraft/mc-mods/tree-harvester-fabric).
They are different mods. I don't use `Tree Harvester`.

[2022-06-16 19:31] kwpugh commented on #28
My bad.  I will try FallingTree.   According to the author it automatically picks up tools that extend AxeItem, which mine do.

[2022-06-16 19:37] kwpugh commented on #28
I just tested my mods (EmeraldTools, MoreGems, Gobber) and all the axes work fine with FallingTree.

[2022-06-16 19:38] kwpugh commented on #28
The tree axes work as well.

[2022-06-17 11:04] lospejos commented on #28
Thanks, may be it's an issue in my mod setup or mods combination.

[2022-06-17 11:42] lospejos commented on #28
I've tested it on a reduced amount of mods (only they was installed):
[code]
and everything was fine.

It seems, some other mod breaks this behavior.  Thanks.

[2022-06-17 11:42] #28 closed, assigned to kwpugh

[2022-06-20 13:33] kwpugh commented on #25
Covered by issue #73

[2022-06-20 13:33] #25 closed, assigned to kwpugh

[2022-07-04 18:02] purejosh opened #29 "Add bow damage configurations"
Please add bow damage configuration to the .json file, so we can nerf these bows. They can two shot an iron golem, when enchanted with power V.

[2022-07-04 18:05] purejosh opened #30 "Add the ability to disable items"
With my server, I'm personally not a fan of paxels, tree axes, and excavators. Please add the ability for us to disable the crafting recipes for all types of items in the configuration .json.

[2022-07-04 18:16] kwpugh commented on #30
You do that with data packs now

[2022-07-04 18:16] #30 closed, assigned to kwpugh

[2022-07-04 18:31] kwpugh commented on #29
I'll take a look at doing this.

[2022-07-04 18:45] purejosh commented on #30
How/where do I get that from?

[2022-07-04 18:51] purejosh commented on #30
If you mean by using a recipe datapack to make the materials air and the resultant item a barrier block, that's not removing the item, that's making it uncraftable. It will still show in REI and the like.

[2022-07-04 18:56] kwpugh commented on #30
when mojang added the registry freeze, disabling items/blocks via config is no longer recommended.  Disabling via datapack or KubeJS is preferred.

[2022-07-04 18:56] kwpugh commented on #30
I don't have a pre-made datapack for that mod.  you can make it yourself or wait until I make one.

[2022-07-04 19:23] kwpugh commented on #30
Are you using 1.18.2 or 1.19?

[2022-07-04 20:20] purejosh commented on #30
1.18.2. We'll be updating to 1.19 in about 2 weeks, just waiting for mods to be stable.

[2022-07-04 20:20] purejosh commented on #30
I can use KubeJS to block the recipes.

[2022-07-06 14:57] kwpugh commented on #29
Updated in Emerald Tools and MoreGems

[2022-07-06 14:57] #29 closed, assigned to kwpugh

[2022-07-06 15:07] purejosh commented on #29
That was fast. I'm impressed! Thank you!

[2022-07-11 15:01] kwpugh commented on #23
copper hammer is fixed in latest update.  Also fixed the mining level 2 hammers in MoreGems.

Various hammers in the 1.19.1 version will be fixed in the next updates.

[2022-07-11 15:01] #23 closed, assigned to kwpugh

[2022-07-28 02:17] purejosh commented on #29
Hello. Per this github, there should be bow damage configurations available in the .json5, however there are no signs of that in the file. There are zoom configs, but no configs regarding damage output from the bows.
The vanilla bow does up to 11 damage, and the custom bows do up to 23, and I really would like to nerf it.

[2022-07-28 02:21] purejosh commented on #29
EmeraldTools-Fabric-1.18.2-1.3.46 is the one I've tested.
I did not regen my config. I'm going to try that now.

[2022-07-28 02:23] kwpugh commented on #29
Ahh.  I added those to 1.19, which is current supported version.  I generally do not back port new features.

[2022-07-28 02:27] purejosh commented on #29
Ohh, that makes sense...

I mean, I won't ask you to do what you don't want to do, but. It is what it is, I suppose.
I guess I'll be on 1.19 eventually, when Mojang stops updating 1.19.1.

Thanks for the prompt response.

[2022-07-28 17:38] kwpugh commented on #29
I'm in the process of adding the freatures to 1.18.2 now.

How are you memasuring the damage from bows?

[2022-07-28 18:57] purejosh commented on #29
Wow, you're awesome!

I use a mod called MmmMmmMmmMmm. It's a dummy that outputs the raw damage you hit it with. Very useful.

[2022-07-28 19:03] kwpugh commented on #29
Yes, I just found that.  It is proving useful to confirm actual damage by bows.  The new default settings in the config will be close to vanilla with the ability to tweak higher if desired.

[2022-07-28 19:11] kwpugh commented on #29
Look for v47 on curse forge shortly....

Let me know how your results come out

[2022-07-28 19:23] purejosh commented on #29
Excellent. I will test in about an hour and provide feedback here!

[2022-07-28 19:26] kwpugh commented on #29
Not sure if you are a member of my discord, but I post a note for more info:

Hi all.

I'm introducing new options for gem bows in Emerald Tools

Background things of note:
- the damage of an un-enchanted bow is computed by the game using "velocity", with velocity being a product of pitch, yaw, roll, speed, and divergence.  Sin, cos, and atan are involved, so it is complicated.  Speed has the stro

[2022-07-28 20:43] purejosh commented on #29
I gotcha. So, increasing speed (therefore reducing drop) isn't possible without directly affecting damage output.

I'm still doing some testing, but the options themselves appear to be working just fine. Will the mod accept a negative value?

Also, fwiw, there's a model issue with pulling_0 and the other pulling states. It appears to be shifted down a bit during pulling_0, but bumps higher for pul

[2022-07-28 20:52] purejosh commented on #29
Yes, the mod will accept negative values.

[code]

17-25 Vanilla bow, P5
20-28 Gem bow, P5

So, by setting speed up to 5, which is a lovely feeling compared to the vanilla bows that drop so aggressively, and giving it a negative offset for extra damage, I can essentially curate a perfect balance between the two.

[2022-07-28 21:15] kwpugh commented on #29
wonderful, glad that works for you.

[2022-07-28 21:16] purejosh commented on #29
You don't want/need a new github for the texture adjustments, right?

[2022-07-28 21:17] purejosh commented on #29
Also, I very much appreciate you updating this version with this amazing new code.

[2022-07-28 21:17] kwpugh commented on #29
honestly, I'm not sure what you mean.   the textures are my weak point.

[2022-07-28 21:22] purejosh commented on #29
With the gem bows, it shifts upwards very slightly when it passes from the first stage of pulling to the second stage. You can observe that in the vanilla bow, the pulling is very smooth.
https://user-images.githubusercontent.com/70633949/181639706-14e73032-db84-4179-86f0-f4ea0d588871.mp4

[2022-08-04 03:41] purejosh opened #31 "[1.19.1] Add a "nerf treeaxe/excavator/hammer" option"
I used to have custom made hammers that would lose durability at a per block broken level, and I would like to either lower the treeaxe/hammer/excavator durability by roughly 75%, or maybe have a config option that allows for "nerf mode", where it doesn't lose durability by the use, it loses durability by the block broken count.

Calculating blocks broken could be hard, though, since using a hamme

[2022-08-04 10:31] kwpugh commented on #31
I have this working in  dev.  still more testing is required, but it is looking very good.

hammer and excavator is done.

Treeaxe is going to be challenging,

[2022-08-04 21:06] kwpugh commented on #31
added feature for block-for-block durability loss to the latest 1.19.1 versions of Gobber, Emerald Tools, MoreGems, and Treeaxes.

[2022-08-04 21:06] #31 closed, assigned to kwpugh

[2022-08-05 04:28] purejosh commented on #31
Wow, I'm blown away that it was so easy for you. Thank you so much!

[2022-08-16 15:29] mpustovoi opened #32 "[1.19] Minecraft crashes on startup with EmeraldTools-Fabric-1.19.1-1.4.22"
Hi
When starting Minecraft with EmeraldTools-Fabric-1.19.1-1.4.22, I see this

[code]

If I remove EmeraldTools-Fabric-1.19.1-1.4.22 Minecraft starts up fine. I understand that your mod has received 2 updates since version 1.4.22, but I can't upgrade from 1.19 to 1.19.2 right now due to other mods.

[2022-08-16 15:34] kwpugh commented on #32
I'm no longer supporting that version.

[2022-08-16 15:34] #32 closed, assigned to kwpugh

[2022-08-16 15:36] mpustovoi commented on #32
Ok I got it

[2022-08-20 00:39] ruvaldak opened #33 "Why is Pugh Tools private/closed source?"
I'm wanting to do a backport of the latest 1.19.2 changes to 1.18.2 on my fork and realized that Pugh Tools is private and/or closed source. I can put the jar in loom-cache to compile, but the version used in your 1.18.2 release (pugh tools 1.2.7) is outdated and doesn't support the latest features added in 1.19.2, while 1.3.17 doesn't work at all on 1.18.2, and I have no way of attempting to back

[2022-08-20 00:50] kwpugh commented on #33
It is closed source because I do not want others using it at this point.

[2022-08-20 00:50] #33 closed, assigned to kwpugh

[2022-09-17 02:08] kwpugh commented on #26
This is no longer an issue in 1.19.2

[2022-09-17 02:08] #26 closed, assigned to kwpugh

[2022-09-24 05:38] SomeOldOakTree opened #34 "Amethyst Pickaxe stacks Silk Touch enchantments upon repair"
Whenever repairing an amethyst pickaxe in the crafting grid with an amethyst shard, a new instance of the "Silk Touch" enchantment is added to the pick.

i.e. if the pick were repaired 5 times, the listed enchantments looks something like:
Silk Touch
Silk Touch
Silk Touch
Silk Touch
Silk Touch
Silk Touch

[2022-09-24 15:38] kwpugh commented on #34
Unforeseen interaction.  Fortunately, easy to fix.  I cannot remove the multiple Silk Touch off the existing pickaxes  though.

[2022-09-24 16:15] kwpugh commented on #34
Pushed updates for 1.18.2 and 1.19.2 on Curseforge

[2022-09-24 16:15] #34 closed, assigned to kwpugh

[2022-09-28 14:59] SomeOldOakTree commented on #34
I appreciate the quick response. Will update to latest version. :)

[2022-10-09 07:55] CocoManiaDX opened #35 "[1.18.2] New tools for vanilla materials not there?"
Sorry, I just couldn't find any info on this.

The mod page says there's new tools for vanilla materials (gold, iron, diamond, etc), but none of them show up, only the other materials (emerald, obsidian, etc).

Is this something that has to be enabled in the config? If so, I couldn't figure out how.
Or is this something only available for 1.19+?

Thanks in advance, and sorry for the silly question

[2022-10-09 10:29] kwpugh commented on #35
Sorry, those  were added in 1.19.x

[2022-10-09 10:29] #35 closed, assigned to kwpugh

[2022-10-09 20:04] CocoManiaDX commented on #35
Ah, thank you ^^

[2022-11-02 01:43] Kuggle01 opened #36 "Rework Armor balancing"
I found it strange that Iron, steel and obsidian are all identical barring durability, I think it'd improve the mod alot of they were made more unique, I'd make copper equal to chainmail, Steel can stay as it is but I think the knockback resistance should be removed and I think obsidian armor should have a ton more Knowback resistance, at least the same as netherite

[2022-11-02 01:50] Kuggle01 opened #37 "[1.20.0] Crossbow upgrades"
We have upgrades for the regualr bow, but I like crossbows! and having upgrades for bows and not crossbows just makes me feel like their completely obsolete

[2022-11-02 03:34] kwpugh commented on #37
Personally, I am not really a fan of the crossbows.  I may look into this though for Minecraft 1.20 or 1.21

[2022-11-02 03:36] kwpugh commented on #36
Frankly, many people have varying opinions about the balancing of the armors (and the tools for that matter).  That is why the config settings exist, which allow you to set many or most of those values to your liking,

[2022-11-02 03:36] #36 closed, assigned to kwpugh

[2022-11-03 15:22] percyV13 opened #38 "[1.19.2] hammers silk touch budding crystals"
If you silk touch hammer a budding amethyst or mod-added budding crystal directly then it'll drop nothing as is intended, however, if you mine one of the blocks next to it so it's caught in the 3x3 area then the budding crystal block will drop as an item.

I'm on Fabric 1.19.2.

[2022-11-05 13:42] kwpugh commented on #38
I wasn't aware of this, but I'm not sure I want to restrict it.  Vanilla does not allow for collecting up budding amethyst blocks, for relocation to create a farm.  I kind of like the idea that the hammer will allow for this.

What do you think is the downside for gameplay if allowed, other than the amethyst farming at a location of the player's convenience?

[2022-11-05 13:43] kwpugh commented on #38
The funny thing is that, since I wasn't aware of this, I had been playing by traveling back and forth to a nearby geode to collect shards, when I could have broke them and brought them back to my base.

[2022-11-05 15:16] kwpugh commented on #38
I assume you might be using MoreGeodes for Fabric as well?

[2022-11-06 14:31] kwpugh commented on #38
Fixed in latest release on CurseForge

[2022-11-06 14:31] #38 closed, assigned to kwpugh

[2022-11-07 14:07] percyV13 commented on #38
Didn't see the reply, I personally really like being able to silk touch the budding crystals, particularly the modded ones without an option to make them silk touchable (More Geodes plus the sub-zero and the pink end crystals which I think are both BYG) and I might be grabbing a few more before updating the mod.

But I figured there's probably a server where this would be against the rules or caus

[2022-11-07 14:10] kwpugh commented on #38
There are several mods available that specifically add silk touch to budding amethyst and possibly the modded ones and well, might check on Curseforge

[2022-11-07 14:19] percyV13 commented on #38
Yeah, amethyst is easy and I believe More Geodes has a module, but the BYG ones not so much. Thanks!

[2022-11-09 19:02] Kuggle01 opened #39 "[1.20+] Mod Menu support"
Adding support for mod menu would make changing the config for this mod much easier imo https://www.curseforge.com/minecraft/mc-mods/modmenu

[2022-11-25 09:24] chen-Futuro opened #40 "Ordinary tools and enhanced tools can be divided into two parts?"
My server players don't like the enhanced tools, maybe they break the balance a bit and don't work well with other mod's weapons like Dragonloot
If possible, I hope that you can separate the four enhancement tools into a new mod
My server is now 1.18.2 Fabric, it will skip 1.19 and update directly to 1.20, I think you can make these changes in 1.20

[2022-11-25 12:02] kwpugh commented on #40
you can disable the recipes for those tools with a datapack

[2022-11-25 14:32] #40 closed, assigned to kwpugh

[2022-11-26 04:15] mastery3 opened #41 "Tools for Advanced Netherite and Enderite mods?"
I am using this mod along with the other mods mentioned. I would like to be able to use modded tools from this mod with the materials of Advanced Netherite and Enderite mods.

[2022-11-26 11:43] kwpugh commented on #41
Sorry, I don't do tools for other mods like that.

[2022-11-26 17:09] #41 closed, assigned to kwpugh

[2022-11-26 19:27] mastery3 opened #42 "Add configuration options for Harvest Level"
A lot of tools have too high of a Harvest Level, so I would like to reduce it to a reasonable level